.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2rem;
    position: absolute;

    transition: transform 0.3s ease-in-out;
    background: #EFFFFA;
    z-index: 10;

    &.left {
        left: 0;
        transform: translateX(-100%);

        &.open {
            transform: translateX(0);
        }
    }

    &.right {
        right: 0;
        transform: translateX(100%);

        &.open {
            transform: translateX(-15%);
        }
    }

    &.left,
    &.right {
        top: 5%;
        max-width: 25%;
        height: 87.5%;
        overflow-y: auto;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
    }

    &.lower {
        bottom: 0;
        transform: translateY(100%);

        &.open {
            transform: translateY(0%);
        }
    }

    &.upper {
        top: 0;
        transform: translateY(-100%);

        &.open {
            transform: translateY(25%);
        }
    }

    &.lower,
    &.upper {
        width: 100%;
    }
}
