.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2rem;
    position: absolute;

    transition: transform 0.3s ease-in-out;
    background: #EFFFFA;
    z-index: 10;
    overflow-y: auto;

    &.left {
        left: 0;
        transform: translateX(-100%);
        box-shadow: 5px 15px 5px 5px rgba(0,0,0,0.49);

        &.open {
            transform: translateX(0);
        }
    }

    &.right {
        right: 0;
        transform: translateX(100%);
        box-shadow: 5px 5px 5px 15px rgba(0,0,0,0.49);

        &.open {
            transform: translateX(-100%);
        }
    }

    &.left,
    &.right {
        top: 0;
        max-width: 35%;
        height: -webkit-fill-available;
        // Adjust for presence of pre-existing navbar
        padding-top: 5rem;
    }

    &.lower {
        bottom: 0;
        transform: translateY(100%);
        box-shadow: 15px 5px 5px 5px rgba(0,0,0,0.49);

        &.open {
            transform: translateY(-20%);
        }
    }

    &.upper {
        top: 0;
        transform: translateY(-100%);
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);

        &.open {
            transform: translateY(20%);
        }
    }

    &.lower,
    &.upper {
        width: 100%;
    }
}
