.tabs {
    &-button {
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;

        margin-right: 0.1em;
        background-color: lightgray;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: white;
        }

        &-image {
            width: 15px;
            margin-right: 0.5rem;
            background: rgb(73, 73, 73);
            color: white;
            border-radius: 50%;
            padding: 0.5rem;
        }

        &-active {
            border: 1px solid #ccc;
            border-bottom: none;
            background-color: white;
        }
    }

    &-button, 
    &-button-active {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 1em;
    }

    &-content {
        background-color: white;
        width: 100%;
        padding: 1rem;
    }

    &-container {
        // overflow: hidden;
        background: transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 3em;
        width: 100%;
    }

    &-hidden {
        display: none;
    }
}