.tree {
    &-collapsible {
        transition: max-height 0.15s ease-out;

        &-closed {
            max-height: 0;
            overflow: hidden;
        }

        &-open {
            max-height: 500px;
        }
    }

    &-file {
        padding-left: 20px;
        display: flex;
        align-items: center;
        span {
            margin-left: 5px;
        }
    }

    &-folder {
        padding-left: 20px;
        cursor: pointer;

        .folder--label {
            display: flex;
            align-items: center;
            span {
                margin-left: 5px;
            }
        }
    }

    &-main {
        line-height: 1.5;
    }
}