.tabular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0 !important;
}

.content-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    margin-top: 1rem;
}