.accordion {
    &-content {
        background-color: white;
        overflow: hidden;
        transition: max-height 0.6s ease;

        &-img {
            width: 30%;
        }
        
        &-paragraph {
            &-content {
                h1, img, p {
                    margin: 1rem;
                }

                a {
                    color: red;
                }

                img {
                    width: 30%
                }

                p {
                    margin-top: 1rem;
                }
            }
        }
    }

    &-icon {
        width: 5%;
        transition: transform 0.6s ease;

        &-image {
            width: 45%;
            transform: rotate(180deg)
        }
    }

    &-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-text {
        font-weight: 400;
        font-size: 14px;
        padding: 18px;
    }

    &-title {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        transition: background-color 0.6s ease;

        &-content {
            display: flex;
        }

        &:hover {
            background-color: #ccc;
        }
    }
}

.active {
    background-color: #ccc;
}
  
.rotate {
    transform: rotate(90deg);
}
