.accordion {
    &-content {
        background-color: white;
        overflow: hidden;
        transition: max-height 0.6s ease;

        &-img {
            width: 30%;
        }
        
        &-paragraph {
            &-content {
                h1, img, p {
                    margin: 1rem;
                }

                a {
                    color: red;
                }

                img {
                    width: 30%
                }

                p {
                    margin-top: 1rem;
                }
            }
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &-icon {
        width: 5%;
        transition: transform 0.6s ease;

        &-image {
            width: 45%;
            transform: rotate(180deg)
        }
    }

    &-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-text {
        font-weight: 400;
        font-size: 14px;
        padding: 18px;
    }

    &-title {
        background-color: rgb(107, 107, 107);
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        transition: background-color 0.6s ease;
        padding: 1rem;

        &-content {
            display: flex;
        }

        &:hover {
            background-color: rgb(160, 160, 160);
        }
    }
}

.active {
    background-color: #ccc;
}
  
.rotate {
    transform: rotate(90deg);
}



.accordion-btn {
    margin: 0 0.5rem;
    font-family: sans-serif;
    font-size: 15px;

    text-decoration: none;
    background: none;
    color: #222;
    letter-spacing: 2px;
    border: 3px solid #222;
    transition: all 0.5s;
    padding: 5px 10px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &:hover {
      background-color: #F44336;
      color:#ffffff;
      &:before {
        transform: translateX(100%) rotate(45deg);
      }
    }
  
    &:before {
      content: '';
      background-color: white;
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      width: 100%;
      transform: translateX(-100%) rotate(45deg);
      transition: all 0.5s;
    }

    .active {
        color: #e3e3e3;
    }
}